@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #D49157;
  font-family: "Poppins", sans-serif;
}

.wrapper{
  width: 100%;
  max-width: 550px;
  text-align: center;
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper2{
    width: auto;
    max-width: 550px;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.img-logo{
  width: 120px;
  height: 120px;
  background: purple;
  position: relative;
  top: -50px;
  left: 175px;
}
img{
  width: 150px;
}

h2{
  /*margin-top: -50px;*/
  color: #D49157;
}
p{
  margin-top: 5px;
}

ul{
  list-style: none;
  display: flex;
}

ul li{
  margin: 15px auto;
  font-size: 15px;
}
span{
  font-weight: 600;
  color: rgb(43, 39, 39);
  display: block;
  text-align: center;
}

.btn{
  margin-top: 40px;
}

a{
  margin: 20px;
  width: 180px;
  height: 50px;
  border: none;
  padding: 10px;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  flex-direction: column;
}

.btn a:first-child{
  background: #4169e1;
}
.btn a:last-child{
  background: #cb4154;
}
.btn a:first-child:hover{
  background: transparent;
  border: 1px solid #4169e1;
  color: #4169e1;
}
.btn a:last-child:hover{
  background: transparent;
  border: 1px solid #cb4154;
  color: #cb4154;
}
