@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1da1f2;
  font-family: "Poppins", sans-serif;
}

.wrapper{
  width: 100%;
  max-width: 550px;
  text-align: center;
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.img-logo{
  width: 120px;
  height: 120px;
  background: purple;
  position: relative;
  top: -70px;
  left: 190px;
}
img{
  width: 120px;
}

h3{
  margin-top: -50px;
  color: purple;
}
p{
  margin-top: 5px;
}

ul{
  list-style: none;
  display: flex;
}

ul li{
  margin: 15px auto;
  font-size: 15px;
}
span{
  font-weight: 600;
  color: rgb(43, 39, 39);
  display: block;
  text-align: center;
}

.btn{
  margin-top: 40px;
}

a{
  margin: 20px;
  width: 180px;
  height: 50px;
  border: none;
  padding: 10px;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.btn a:first-child{
  background: #1da1f2;
}
.btn a:last-child{
  background: blueviolet;
}
.btn a:first-child:hover{
  background: transparent;
  border: 1px solid #1da1f2;
  color: #1da1f2;
}
.btn a:last-child:hover{
  background: transparent;
  border: 1px solid blueviolet;
  color: blueviolet;
}
